.vscode/ftp-sync.json
files/.DS_Store
files/css/_notes/dwsync.xml
files/php/dbconnect.php
files/php/dbcred.php
files/php/_notes/dwsync.xml
testing/dbconnect.html
.vscode/sftp.json
files/.DS_Store
files/css/.DS_Store
.DS_Store
files/empacjs/json/modules/.DS_Store
files/empacjs/json/content/.DS_Store
files/images/.DS_Store
files/php/write_form_conditions.php
files/video/.DS_Store
files/templates/.DS_Store
files/images/icons/web_design/.DS_Store
