@charset "UTF-8";
/* CSS Document */
/* Setup Website */

html, div, span, iframe, h1, h2, h3, h4, h5, h6, p, font, img, q, ol, li, ul, form, label, body {
	border: 0; padding: 0; margin: 0; outline: 0;
	vertical-align: baseline; background: transparent;
}

/* Set Base Layout */

html { 
	font-size: 16px; 
	font-family: var(--font-main);
	font-weight: 500;
	line-height: 1.6em;
}

body { 
	/* Set primary padding / margin multiple */
	--padding-mult: 1; --margin-mult: 1;
	width: 100%; display: block; position: relative; 
	background-color: var(--color-white);
}

footer { 
	width: calc(100% - calc(var(--spacing-grid) * var(--padding-mult))); 
	max-width: 1620px; display: flex; flex-direction: column; 
	justify-content: center; align-items: center; margin-inline: auto; 
}

.container { 
	width: calc(100% - calc(var(--spacing-grid) * calc(var(--padding-mult) * 2))); 
	max-width: 1620px; margin-inline: auto; overflow: hidden;
}

.module { -moz-border-radius: var(--border-radius); -webkit-border-radius: var(--border-radius); border-radius: var(--border-radius); }
.row { display: flex; flex-direction: row; flex-wrap: wrap; }
.col { display: flex; flex-direction: column; }

/* Set up multicolumn structure */
.row[multi-dual] div { width: calc(50% - calc(var(--spacing-grid) * calc(var(--padding-mult) * 2))); }
.row[multi-tri] div { width: calc(33% - calc(var(--spacing-grid) * calc(var(--padding-mult) * 2))); }
.row[multi-quad] div { width: calc(25% - calc(var(--spacing-grid) * calc(var(--padding-mult) * 2))); }

/* Subsets of multi-columns */

.row[multi-dual][dual-one-three] div:first-child { width: calc(25% - calc(var(--spacing-grid) * calc(var(--padding-mult) * 2))); }
.row[multi-dual][dual-one-three] div:last-child { width: calc(75% - calc(var(--spacing-grid) * calc(var(--padding-mult) * 2))); }

.row[multi-dual][dual-three-one] div:first-child { width: calc(75% - calc(var(--spacing-grid) * calc(var(--padding-mult) * 2))); }
.row[multi-dual][dual-three-one] div:last-child { width: calc(25% - calc(var(--spacing-grid) * calc(var(--padding-mult) * 2))); }

.row[multi-tri][tri-one-one-two] div { width: calc(25% - calc(var(--spacing-grid) * calc(var(--padding-mult) * 2))); }
.row[multi-tri][tri-one-one-two] div:last-child { width: calc(50% - calc(var(--spacing-grid) * calc(var(--padding-mult) * 2))); }

.row[multi-tri][tri-two-one-one] div { width: calc(25% - calc(var(--spacing-grid) * calc(var(--padding-mult) * 2))); }
.row[multi-tri][tri-two-one-one] div:first-child { width: calc(50% - calc(var(--spacing-grid) * calc(var(--padding-mult) * 2))); }

.row[multi-tri][tri-one-two-one] div { width: calc(25% - calc(var(--spacing-grid) * calc(var(--padding-mult) * 2))); }
.row[multi-tri][tri-one-two-one] div:nth-child(2) { width: calc(50% - calc(var(--spacing-grid) * calc(var(--padding-mult) * 2))); }

/* Set up carousel */
.row[carousel] { 
	flex-wrap: nowrap; overflow-x: auto; scroll-padding: var(--spacing-grid); padding: var(--spacing-grid); 
	scrollbar-width: 10px; scrollbar-color: var(--color-gray) var(--color-white-dark);
}

[carousel]::-webkit-scrollbar { 
	height: 10px; background: var(--color-white-dark); 
	-webkit-border-radius: var(--border-radius); border-radius: var(--border-radius);
}

[carousel]::-webkit-scrollbar-track { 
	background: var(--color-white-dark); 
	-webkit-border-radius: var(--border-radius); border-radius: var(--border-radius);
}

[carousel]::-webkit-scrollbar-thumb { 
	border: 2px solid var(--color-white-dark);
	-webkit-border-radius: var(--border-radius); border-radius: var(--border-radius);
	background: var(--color-gray); transition: 0.25s; -webkit-transition: 0.25s; 
}

[carousel]::-webkit-scrollbar-thumb:hover { 
	background: var(--color-black); transition: 0.25s; -webkit-transition: 0.25s; 
	cursor: grab;
}

.row[carousel]::before { position: absolute; left: -1px; top: 0px; height: calc(100% - 10px); width: 2rem; background: linear-gradient(to right, var(--color-white), transparent); content: ''; }

.row[carousel]::after { position: absolute; right: -1px; top: 0px; height: calc(100% - 10px); width: 2rem; background: linear-gradient(to left, var(--color-white), transparent); content: ''; }

.row[carousel] div { width: var(--card-width); flex-shrink: 0; }

/* Set up video player */
.row[yt-player] { width: 100%; height: auto; padding-bottom: 56.25%; }
.row[yt-player] iframe { width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; }

/* Subsets of row types */
.row[social-bar] { flex-direction: row; }
.row[form-section] div { width: calc(75% - calc(var(--spacing-grid) * calc(var(--padding-mult) * 2))); }

/* Flexbox Specific */
.justify-start { justify-content: flex-start; }
.justify-center { justify-content: center; }
.justify-end { justify-content: flex-end; }
.justify-spacebw { justify-content: space-between; }
.justify-spacebw div { margin: 0px auto; }

.align-start { align-items: flex-start; }
.align-center { align-items: center; }
.align-end { align-items: flex-end; }

/* Padding specs */
[custom-padding] { padding: calc(var(--spacing-grid) * var(--padding-mult)); }
[add-gutter] [custom-padding] { padding: calc(var(--spacing-grid) * calc(var(--padding-mult) / 2)); }

/* Maring specs */
[custom-margin] { margin: calc(var(--spacing-grid) * var(--margin-mult)) auto; }

.no-margin { margin: 0px; }
.center-margin { margin-inline: auto; }

/* Modal Setup */
.modal-section { 
	display: none; justify-content: center; align-items: center;
	width: 100%; height: 100%; opacity: 0;
	position: fixed; top: 0px; left: 0px; background-color: rgba(0, 0, 0, 0.75);
	-moz-transition: 0.5s; -webkit-transition: 0.5s; transition: 0.5s;
	z-index: 9999;
}

.modal-section.active { opacity: 1; -moz-transition: 0.5s; -webkit-transition: 0.5s; transition: 0.5s; }

.modal-section .modal-window {
	position: relative; width: 75%; height: 0vh; background-color: var(--color-white);
	-moz-transition: 0.5s; -webkit-transition: 0.5s; transition: 0.5s;
}

.modal-section.active .modal-window {
	height: 75vh;
	-moz-transition: 0.5s; -webkit-transition: 0.5s; transition: 0.5s;
}

.modal-section .modal-window .modal-content { width: 100%; height: 100%; position: relative; overflow: hidden; }

.modal-section .modal-window .modal-close { 
	width: 30px; height: 30px;
	display: flex; justify-content: center; align-items: center;
	position: absolute; top: -10px; right: -10px; 
	font-size: 25px;
	padding: 0px; border: none;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
	background: var(--color-brand); color: var(--color-white);
	font-family: revert;
	z-index: 1111;
}

/* Text Specifics */
.text-left { text-align: left; }
.text-center { text-align: center; }

/* M1 specific styling */
.header-module { 
	-moz-border-radius: 0px 0px var(--border-radius) var(--border-radius); 
	-webkit-border-radius: 0px 0px var(--border-radius) var(--border-radius); 
	border-radius: 0px 0px var(--border-radius) var(--border-radius); 
	position: relative;
	opacity: 0; transform: translateY(-30px);
	-moz-transition: 1s ease-in-out; -webkit-transition: 1s ease-in-out; transition: 1s ease-in-out;
}

.header-module.active {
	opacity: 1; transform: translateY(0px);
	-moz-transition: 1s ease-in-out; -webkit-transition: 1s ease-in-out; transition: 1s ease-in-out;
}

/* Set custom animations */
.container[anim-drop-fade] {
	opacity: 0; transform: translateY(30px);
	-moz-transition: 1s ease-in-out; -webkit-transition: 1s ease-in-out; transition: 1s ease-in-out;
}

/* Set custom animations */
.container.active[anim-drop-fade] {
	opacity: 1; transform: translateY(0px);
	-moz-transition: 1s ease-in-out; -webkit-transition: 1s ease-in-out; transition: 1s ease-in-out;
}

/* Modes for coloring */
.light-mode { background-color: var(--color-white); }
.dark-mode { background-color: var(--color-black); }

.dark-mode[bg-color-brand] { background-color: var(--color-brand); }

/* Typography */

.light-mode { color: var(--color-black); }
.dark-mode { color: var(--color-white); }

h1, h2 { font-family: var(--font-display); font-weight: 700; line-height: 1.2em; margin-bottom: 1.5rem; }
h3, h4 { font-weight: 600; line-height: 1.2em; margin-bottom: 1.5rem; }
h4, h5 { font-weight: 500; line-height: 1.2em; margin-bottom: 1.5rem; }

h1[size="large"], h2[size="large"] { font-size: 4.75rem; }
h1[size="medium"], h2[size="medium"] { font-size: 4.25rem; }
h1[size="small"], h2[size="small"] { font-size: 3.75rem; }
.eyebrow { font-family: var(--font-main); font-weight: 600; font-size: 1rem; margin-bottom: 1.5rem; }

h3[size="large"], h4[size="large"] { font-size: 3.75rem; }
h3[size="medium"], h4[size="medium"] { font-size: 3.25rem; }
h3[size="small"], h4[size="small"] { font-size: 2.75rem; }

h5[size="large"], h6[size="large"] { font-size: 2.75rem; }
h5[size="medium"], h6[size="medium"] { font-size: 2.25rem; }
h5[size="small"], h6[size="small"] { font-size: 1.75rem; }

p { font-size: 1.25rem; line-height: 1.75em; margin-bottom: 1.5rem; }
p b { font-weight: 900; }

/* Specific Paragraph Styling */
p[size="large"] { font-size: 2rem; margin-bottom: 2rem; line-height: 1.5em; font-weight: 400; }

span.nav-heading { font-family: var(--font-display); font-weight: 600; font-size: 3rem; }

/* Set custom attributes */
[cfs-size] { font-size: var(--cf-size); }
[cfs-line_height] { line-height: var(--cf-line_height); }
[cfs-weight] { font-weight: var(--cf-weight); }

.shadow-box { box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15); }

[sticky-dsk]{ position: sticky; top: 100px; }

/* COMING SOON STYLING - TEMPORARY */

.coming-soon {
	display: block;
	width: 100%; height: 100vh;
	background-image: url('https://empac.co/files/images/bg/abstract/empac-coming_soon-banner.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.coming-soon .main-section {
	display: flex; flex-direction: column; justify-content: center; align-items: center;
	position: absolute; top: 50%; left: 50%; margin: 0px auto; transform: translate(-50%, -50%); 
	width: calc(100% - 50px); padding: 25px;
	text-align: center;
}

.coming-soon .loader { display: flex; position: relative; width: 200px; height: 200px; }

.coming-soon .loader span { 
	width: 200px; height: 200px;
	border: 2px solid var(--color-white); border-left: 2px solid transparent; border-right: 2px solid transparent;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
	animation: loaderSpin 0.5s ease-in-out infinite
}

@keyframes loaderSpin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

.coming-soon .loader img { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);  }

/* Set up primary loader */
.primary-loader { 
	display: flex; position: fixed; top: 0px; left: 0px; width: 100%; height: 100vh; 
	justify-content: center; align-items: center; z-index: 999;
	opacity: 1; background-color: var(--color-white); 
	-moz-transition: 1s; -webkit-transition: 1s; transition: 1s;
}

.primary-loader.inactive { opacity: 0; -moz-transition: 1s; -webkit-transition: 1s; transition: 1s; }

.primary-loader span { 
	width: 200px; height: 200px; margin: 0px;
	border: 2px solid var(--color-black); border-left: 2px solid transparent; border-right: 2px solid transparent;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
	animation: loaderSpin 0.5s ease-in-out infinite;
}

.primary-loader img { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);  }

/* Set up modal loader */
.modal-loader { 
	display: flex; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; 
	justify-content: center; align-items: center; z-index: 999;
	opacity: 1; background-color: var(--color-white); 
	-moz-transition: 1s; -webkit-transition: 1s; transition: 1s;
}

.modal-loader.inactive { opacity: 0; -moz-transition: 1s; -webkit-transition: 1s; transition: 1s; }

.modal-loader span { 
	width: 200px; height: 200px; margin: 0px;
	border: 2px solid var(--color-black); border-left: 2px solid transparent; border-right: 2px solid transparent;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
	animation: loaderSpin 0.5s ease-in-out infinite;
}

.modal-loader img { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);  }

/* Button Styles */

/* Image Styles */

img { width: 100%; }

img[size="small"] { max-width: 3rem; }
img[size="medium"] { max-width: 6rem; }
img[size="large"] { max-width: 9rem; }
img[size="xlarge"] { max-width: calc(9rem + calc(var(--size-mult) * 3rem)); }
img[size="full"] { max-width: 100%; }

img.social { max-width: 2rem; margin: 0px 10px; }

img.rounded { -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
img.standard-radius { -moz-border-radius: var(--border-radius); -webkit-border-radius: var(--border-radius); border-radius: var(--border-radius); }

/* Navigation */

.nav-bar { 
	width: calc(100% - calc(var(--spacing-grid) * 2)); display: flex; 
	justify-content: center;
	position: relative; top: -100px;
	padding: var(--spacing-grid);
	background-color: rgba(255, 255, 255, .75); 
	-webkit-backdrop-filter: blur(10px); backdrop-filter: blur(10px); z-index: 999;
	-moz-transition: 1s ease-in-out; -webkit-transition: 1s ease-in-out; transition: 1s ease-in-out;
}

.nav-bar .row { flex-direction: row; }

.nav-bar.active { top: 0px; -moz-transition: 1s ease-in-out; -webkit-transition: 1s ease-in-out; transition: 1s ease-in-out; }

.nav-bar .container { justify-content: space-between; align-items: center; }

.nav-bar img { height: 60px; width: auto; }

.nav-bar .toggle { 
    display: flex; flex-direction: column; justify-content: center; cursor: pointer;
    width: 50px; height: 50px; position: relative; z-index: 100;
    transition: 0.5s; -webkit-transition: 0.5s; -moz-transition: 0.5s;
}

.nav-bar .toggle:focus { 
    outline: 3px solid var(--color-brand);
    transition: 0.25s; -webkit-transition: 0.25s; -moz-transition: 0.25s;
}

.nav-bar .toggle:hover { 
    opacity: 0.5;
    transition: 0.5s; -webkit-transition: 0.5s; -moz-transition: 0.5s;
}

.nav-bar .toggle span { 
    width: 65%; height: 5px; margin: 3px auto; background-color: var(--color-black);
    -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
    transition: 0.25s; -webkit-transition: 0.25s; -moz-transition: 0.25s;
}
.nav-bar .toggle.active span:first-child { 
    transform: rotate(135deg) translate(3px, -4px); 
    transition: 0.25s; -webkit-transition: 0.25s; -moz-transition: 0.25s;
}
.nav-bar .toggle.active span:last-child { 
    transform: rotate(-135deg) translate(3px, 4px); 
    transition: 0.25s; -webkit-transition: 0.25s; -moz-transition: 0.25s;
}

nav { 
	display: flex; width: 100%; height: 0vh; 
	position: fixed; top: 0px; left: 0px; overflow: hidden; 
	background-color: var(--color-white); z-index: 10;
	-moz-transition: height .75s; -webkit-transition: height .75s; transition: height .75s;
	-ms-overflow-style: none; scrollbar-width: none;
}

nav::-webkit-scrollbar { display: none; }

nav.active { height: 100vh; overflow-y: auto; -moz-transition: height .75s; -webkit-transition: height .75s; transition: height .75s; }

nav .container { 
	margin-inline: auto; margin-top: 100px; 
	position: relative;
	opacity: 0; transform: translateY(-30px);
	-moz-transition: .75s; -webkit-transition: .75s; transition: .75s; 
}

nav.active .container { 
	opacity: 1; transform: translateY(0px); 
	-moz-transition: .75s; -webkit-transition: .75s; transition: .75s; 
}

nav [multi-tri] div { margin-inline: 1rem; }

/* Links and buttons */

.cta-section { display: flex; width: 100% !important; margin: var(--spacing-grid) auto; }

.cta-section[h-left] { justify-content: flex-start; }
.cta-section[h-center] { justify-content: center; }
.cta-section[h-right] { justify-content: flex-end; }

a, button { display: flex; height: auto; width: fit-content; transition: 0.2s; -moz-transition: 0.2s; -webkit-transition: 0.2s;  }

a:link { 
	text-decoration: none; cursor: pointer; opacity: 1; 
	transition: 0.2s; -moz-transition: 0.2s; -webkit-transition: 0.2s; 
}

a[inactive]:link { cursor: default; opacity: 1; }

a:visited { text-decoration: none; }

a:hover, button:hover { 
	text-decoration: none; cursor: pointer; opacity: 0.5; 
	transition: 0.2s; -moz-transition: 0.2s; -webkit-transition: 0.2s; 
}

a[inactive]:hover, button[inactive]:hover { cursor: default; opacity: 1; }

a:active, button:active { text-decoration: none; opacity: 0.2; }

a:focus, button:focus {
	opacity: 0.5; transition: 0.2s; -moz-transition: 0.2s; -webkit-transition: 0.2s; 
}

a.btn, button {  
	padding: var(--spacing-grid) calc(var(--spacing-grid) * 2);
	font-size: 1rem;
	font-family: var(--font-main);
	font-weight: 700;
	-moz-border-radius: var(--border-radius); -webkit-border-radius: var(--border-radius); border-radius: var(--border-radius);
	border: none; width: fit-content;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.light-mode a.btn.primary { background-color: var(--color-black); color: var(--color-white); }
.dark-mode a.btn.primary { background-color: var(--color-white); color: var(--color-black); }
a.btn.primary.brand { background-color: var(--color-brand); color: var(--color-white); }

.light-mode a.btn.secondary { border: 2px solid var(--color-black); color: var(--color-black); }
.dark-mode a.btn.secondary { border: 2px solid var(--color-white); color: var(--color-white); }
a.btn.primary.secondary { background-color: var(--color-brand); color: var(--color-brand); }

a.btn.tertiary { padding: 10px 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; box-shadow: none; }
.light-mode a.btn.tertiary { background-color: transparent; color: var(--color-black); }
.dark-mode a.btn.tertiary { background-color: transparent; color: var(--color-white); }
a.btn.tertiary.brand { background-color: transparent; color: var(--color-brand); }

a.btn.tertiary:after { 
	content: '\203A'; margin-left: 5px; 
	transition: 0.25s; -moz-transition: 0.25s; -webkit-transition: 0.25s;  
}

a.btn:hover.tertiary:after { margin-left: 10px; transition: 0.25s; -moz-transition: 0.25s; -webkit-transition: 0.25s;  }

.light-mode button.primary { background-color: var(--color-black); color: var(--color-white); }
.dark-mode button.primary { background-color: var(--color-white); color: var(--color-black); }
button.primary.brand { background-color: var(--color-brand); color: var(--color-white); }

.light-mode button.secondary { border: 2px solid var(--color-black); color: var(--color-black); }
.dark-mode button.secondary { border: 2px solid var(--color-white); color: var(--color-white); }
button.primary.secondary { background-color: var(--color-brand); color: var(--color-brand); }

/* Setup gallery */
[gallery] [gallery-display] img {
	transition: 0.25s; -moz-transition: 0.25s; -webkit-transition: 0.25s;
}

[gallery] [gallery-collection] { position: relative; }

[gallery] [gallery-collection] [gallery-buttons] { flex-direction: row; flex-wrap: nowrap; overflow-x: auto; position: relative; z-index: 50; }

[gallery] [gallery-collection] [gallery-buttons] button {
	width: var(--button-width); height: var(--button-width);
	margin-right: 1rem; color: transparent;
	background-image: var(--gallery-image);
	background-size: cover; background-position: center center;
	box-shadow: inset 0px 0px 0px 2px var(--color-white);
	border: 2px solid var(--color-black);
	flex-shrink: 0;
}

[gallery] [gallery-collection] [gallery-buttons] button.active {
	border: 2px solid var(--color-brand);
	transition: 0.25s; -moz-transition: 0.25s; -webkit-transition: 0.25s;
}

[gallery] [gallery-collection] [gallery-buttons]::-webkit-scrollbar { 
	height: 10px; background: var(--color-white-dark); 
	-webkit-border-radius: var(--border-radius); border-radius: var(--border-radius);
}

[gallery] [gallery-collection] [gallery-buttons]::-webkit-scrollbar-track { 
	background: var(--color-white-dark); 
	-webkit-border-radius: var(--border-radius); border-radius: var(--border-radius);
}

[gallery] [gallery-collection] [gallery-buttons]::-webkit-scrollbar-thumb { 
	border: 2px solid var(--color-white-dark);
	-webkit-border-radius: var(--border-radius); border-radius: var(--border-radius);
	background: var(--color-gray); transition: 0.25s; -webkit-transition: 0.25s; 
}

[gallery] [gallery-collection] [gallery-buttons]::-webkit-scrollbar-thumb:hover { 
	background: var(--color-black); transition: 0.25s; -webkit-transition: 0.25s; 
	cursor: grab;
}

[gallery] [gallery-collection]::before { position: absolute; left: -1px; top: 0px; height: calc(100% - 10px); width:1.5rem; background: linear-gradient(to right, var(--color-white), transparent); content: ''; z-index: 100; }

[gallery] [gallery-collection]::after { position: absolute; right: -1px; top: 0px; height: calc(100% - 10px); width: 1.5rem; background: linear-gradient(to left, var(--color-white), transparent); content: '';  z-index: 100; }

/* Video styling */

[video-player] button {
	display: flex; justify-content: center; align-items: center;
	position: absolute; top: 0px; left: 0px;
	width: 100%; height: 100%;
	background: rgba(0, 0, 0, 0.75);
	-moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; 
	transition: 0.25s; -moz-transition: 0.25s; -webkit-transition: 0.25s;
	z-index: 100;
}

[video-player] button:hover {
	cursor: pointer; opacity: 1; background: rgba(0, 0, 0, 0.85); transition: 0.25s; -moz-transition: 0.25s; -webkit-transition: 0.25s;
}

[video-player] button:hover img {
	opacity: 0.75; transition: 0.25s; -moz-transition: 0.25s; -webkit-transition: 0.25s;
}

[video-player].active button {
	opacity: 0; transition: 0.25s; -moz-transition: 0.25s; -webkit-transition: 0.25s;
}

[video-player].active button:hover, [video-player].active button:hover img {
	opacity: 0.5; transition: 0.25s; -moz-transition: 0.25s; -webkit-transition: 0.25s;
}

[video-player] video { 
	width: 100%; position: relative; z-index: 50;
	transition: 0.25s; -moz-transition: 0.25s; -webkit-transition: 0.25s; 
}

[video-player] video:hover { 
	opacity: 0.75; cursor: pointer;  
	transition: 0.25s; -moz-transition: 0.25s; -webkit-transition: 0.25s; 
}

/* Background Images */

/* Set bg attachment styles */
.has_bg { background-repeat: no-repeat; background-size: cover; background-image: var(--bg-img); }
.has_bg[bg-pos] { background-position: var(--bg-pos-dsk); }

/* Color Overlays */
div[color-overlay] { width: 100%; }
.has_bg [color-overlay='white'] { background: rgba(255, 255, 255, var(--overlay-opacity)); }
.has_bg [color-overlay='black'] { background: rgba(0, 0, 0, var(--overlay-opacity)); }

/* Standard Desktop */

@media only screen and (max-width: 1440px) {
	
	h1[size="large"], h2[size="large"] { font-size: 4rem; }
	h1[size="medium"], h2[size="medium"] { font-size: 3.5rem; }
	h1[size="small"], h2[size="small"] { font-size: 3rem; }
	.eyebrow { font-family: var(--font-main); font-weight: 600; font-size: 1rem; margin-bottom: 1.5rem; }

	h3[size="large"], h4[size="large"] { font-size: 3rem; }
	h3[size="medium"], h4[size="medium"] { font-size: 2.5rem; }
	h3[size="small"], h4[size="small"] { font-size: 2rem; }

	h5[size="large"], h6[size="large"] { font-size: 2rem; }
	h5[size="medium"], h6[size="medium"] { font-size: 1.75rem; }
	h5[size="small"], h6[size="small"] { font-size: 1.5rem; }

	p { font-size: 1rem; margin-bottom: 2rem; }
	
}

/* Smaller Desktop */

@media only screen and (max-width: 1280px) { }

/* Tablet Breakpoints */

@media only screen and (max-width: 1024px) {

	h1[size="large"], h2[size="large"] { font-size: 3.75rem; }
	h1[size="medium"], h2[size="medium"] { font-size: 3.25rem; }
    h1[size="small"], h2[size="small"] { font-size: 2.75rem; }
	.eyebrow { font-size: 0.875rem; }

	h3[size="large"], h4[size="large"] { font-size: 2.75rem; }
	h3[size="medium"], h4[size="medium"] { font-size: 2.25rem; }
    h3[size="small"], h4[size="small"] { font-size: 1.75rem; }
	
	h5[size="large"], h6[size="large"] { font-size: 1.75rem; }
    h5[size="medium"], h6[size="medium"] { font-size: 1.5rem; }
	h5[size="small"], h6[size="small"] { font-size: 1.25rem; }
    
    p { font-size: 0.875rem; }
	
	span.nav-heading { font-size: 2.5rem; }

}

@media only screen and (max-width: 768px) { }
	
/* Mobile Breakpoints */

@media only screen and (max-width: 640px) {
	
	.coming-soon .loader { width: 150px; height: 150px; }
	.coming-soon .loader span { width: 150px; height: 150px; }
	
	.container { width: calc(100% - calc(var(--spacing-grid) * calc(var(--padding-mult)))) !important; }
	footer { width: calc(100% - calc(var(--spacing-grid) * calc(var(--padding-mult)))) !important; }
	
	.row { display: flex; flex-direction: column; }
	/* Set up multicolumn structure */
	.row[multi-dual] div { width: calc(100% - calc(var(--spacing-grid) * calc(var(--padding-mult) * 1))) !important; }
	.row[multi-tri] div { width: calc(100% - calc(var(--spacing-grid) * calc(var(--padding-mult) * 1))) !important; }
	.row[multi-quad] div { width: calc(100% - calc(var(--spacing-grid) * calc(var(--padding-mult) * 1))) !important; }
	
	.row[multi-dual][dual-one-three] div:first-child { width: calc(100% - calc(var(--spacing-grid) * calc(var(--padding-mult) * 1))) !important; }
	.row[multi-dual][dual-one-three] div:last-child { width: calc(100% - calc(var(--spacing-grid) * calc(var(--padding-mult) * 1))) !important; }

	.row[multi-dual][dual-three-one] div:first-child { width: calc(100% - calc(var(--spacing-grid) * calc(var(--padding-mult) * 1))) !important; }
	.row[multi-dual][dual-three-one] div:last-child { width: calc(100% - calc(var(--spacing-grid) * calc(var(--padding-mult) * 1))) !important; }

	.row[multi-tri][tri-one-one-two] div { width: calc(100% - calc(var(--spacing-grid) * calc(var(--padding-mult) * 1))); }
	.row[multi-tri][tri-one-one-two] div:last-child { width: calc(100% - calc(var(--spacing-grid) * calc(var(--padding-mult) * 1))) !important; }

	.row[multi-tri][tri-two-one-one] div { width: calc(100% - calc(var(--spacing-grid) * calc(var(--padding-mult) * 1))); }
	.row[multi-tri][tri-two-one-one] div:first-child { width: calc(100% - calc(var(--spacing-grid) * calc(var(--padding-mult) * 1))) !important; }

	.row[multi-tri][tri-one-two-one] div { width: calc(100% - calc(var(--spacing-grid) * calc(var(--padding-mult) * 1))); }
	.row[multi-tri][tri-one-two-one] div:nth-child(1) { width: calc(100% - calc(var(--spacing-grid) * calc(var(--padding-mult) * 1))) !important; }
	
	.row[carousel] { 
		flex-wrap: nowrap; flex-direction: row; overflow-x: auto; 
		scroll-snap-type: x mandatory; 
		-webkit-scroll-snap-scrolling: touch;
		scroll-padding: 1rem;
	}
	.row[carousel]::before { width: 1rem; }
	.row[carousel]::after { width: 1rem; }
	.row[carousel] div { width: var(--card-width-mob); scroll-snap-align: center; }
	
	.row[form-section] div { width: 100%; }
	
	nav [multi-tri] div { margin-inline: 0px; }
	
	/* Order Adjustments at Mobile */
	[order-adjust-mobile] { order: var(--flex-order); }
	
	[custom-padding] { padding: calc(var(--spacing-grid) * calc(var(--padding-mult) / 2)); }
	
	/* Modal Sizing */
	.modal-section .modal-window { width: 90%; }
	.modal-section.active .modal-window { height: 80vh; }
	
	/* BG Position Adjustments */
	.has_bg[bg-img-mob] { background-image: var(--bg-img-mob) !important; }
	.has_bg[bg-pos] { background-position: var(--bg-pos-mob); }
	
	/* Adjust about me headers */
	[sticky-dsk]{ position: relative; top: 0px; }
	[sticky-mob]{ position: sticky; top: 75px; }
    
	h1[size="large"], h2[size="large"] { font-size: 2.5rem; }
	h1[size="medium"], h2[size="medium"] { font-size: 2.25rem; }
    h1[size="small"], h2[size="small"] { font-size: 2rem; }

    h3[size="large"], h4[size="large"] { font-size: 2rem; }
	h3[size="medium"], h4[size="medium"] { font-size: 1.75rem; }
	h3[size="small"], h4[size="small"] { font-size: 1.5rem; }
	
	h5[size="large"], h6[size="large"] { font-size: 1.5rem; }
    h5[size="medium"], h6[size="medium"] { font-size: 1.25rem; }
	h5[size="small"], h6[size="small"] { font-size: 1rem; }
	
	p[size="large"] { font-size: 1.5rem; }
	
	span.nav-heading { font-size: 2rem; }
	
	/* Image Styles */

	img[size="small"] { max-width: 1.5rem; }
	img[size="medium"] { max-width: 3rem; }
	img[size="large"] { max-width: 4.5rem; }
	img[size="xlarge"] { max-width: calc(4.5rem + calc(var(--size-mult) * 1.5rem)); }
	
	/* Adjust CTA Positions */
	.cta-section[h-left],
	.cta-section[h-center],
	.cta-section[h-right] { justify-content: center; }
	div.cta-section.row { width: 100% !important; }
	
	/* Mobile Gallery */
	
	[gallery] [gallery-collection] [gallery-buttons] { 
		flex-direction: row; flex-wrap: nowrap; position: relative; 
		scroll-snap-type:  x mandatory; -webkit-scroll-snap-scrolling: touch;
		scroll-padding: 0.5rem;
	}
	
	[gallery] [gallery-collection] [gallery-buttons] button { flex-shrink: 0; width: var(--button-width-mob); height: var(--button-width-mob); scroll-snap-align: start; margin-right: 0.5rem; }
	[gallery] [gallery-collection]::before { width: 1rem; }
	[gallery] [gallery-collection]::after { width: 1rem; }
    
}
	
	
@media only screen and (max-width: 480px) { }
	

@media only screen and (max-width: 375px) { }
