@charset "UTF-8";
/* CSS Document */
/* Setup Form Styling */

#formSection { transition: 0.5s; -moz-transition: 0.5s; -webkit-transition: 0.5s; }

form { 
	margin: calc(var(--spacing-grid) * var(--margin-mult)) auto; 
	padding: calc(var(--spacing-grid) * var(--padding-mult)); 
}

form.email-signup { margin: 0px auto; padding: 0px; }

form div.custom-input { 
    width: 100% !important; max-width: 500px; min-width: 300px; min-height: 60px; 
	margin: calc(var(--spacing-grid) * var(--margin-mult)) auto;
	-moz-border-radius: var(--border-radius); -webkit-border-radius: var(--border-radius); border-radius: var(--border-radius);
    position: relative;
}

form div.custom-checkbox { margin: 0px 0px 25px; }

form input { 
    font-size: 1rem; 
	font-family: var(--font-main);
	font-weight: 500;
	line-height: 1.6em;
	outline: 2px solid var(--color-black);
}

form a { display: contents; }

form div.custom-input label { 
    position: absolute; top: 50%; left: 1rem; transform: translateY(-50%); 
    transition: 0.25s; -moz-transition: 0.25s; -webkit-transition: 0.25s;
}

form div.custom-input:focus-within label, form div.custom-input.active label { 
    position: absolute; top: 1rem; left: 1rem; font-size: 12px; color: var(--color-brand); 
    transition: 0.25s; -moz-transition: 0.25s; -webkit-transition: 0.25s;
}

form div.custom-input input[type='text'], form div.custom-input input[type='email'] {
	width: calc(100% - calc(var(--spacing-grid) * calc(var(--padding-mult) * 2)));
	height: calc(100% - calc(var(--spacing-grid) * calc(var(--padding-mult) * 1))); 
	position: absolute; 
	padding: calc(var(--spacing-grid) * var(--padding-mult)) calc(var(--spacing-grid) * var(--padding-mult)) 0px; 
	color: var(--color-black); background: transparent; border: none;
	-moz-border-radius: var(--border-radius); -webkit-border-radius: var(--border-radius); border-radius: var(--border-radius);
    font-size: 1rem; transition: 0.25s; -moz-transition: 0.25s; -webkit-transition: 0.25s;
}

form div.custom-input input:focus, form div.custom-input.active input {
    outline: 2px solid var(--color-brand);
	-moz-border-radius: var(--border-radius); -webkit-border-radius: var(--border-radius); border-radius: var(--border-radius);
    transition: 0.25s; -moz-transition: 0.25s; -webkit-transition: 0.25s;
}

/* Show Error States */
form div.custom-input input.error { 
	outline: 2px solid #ff0000; 
	-moz-border-radius: var(--border-radius); -webkit-border-radius: var(--border-radius); border-radius: var(--border-radius);
	transition: 0.25s; -moz-transition: 0.25s; -webkit-transition: 0.25s; 
}

form div.custom-input input.error ~ label { 
	color: #ff0000; 
	transition: 0.25s; -moz-transition: 0.25s; -webkit-transition: 0.25s;
}

form div.custom-input input.error ~ label::after {
	content: '\0021'; color: #ff0000; font-size: 1rem;
	margin-left: 10px; padding: 1px 8px; font-weight: 700; border: 2px solid #ff0000;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
	transition: 0.25s; -moz-transition: 0.25s; -webkit-transition: 0.25s;
}

form div.custom-input:focus-within label::after {
    opacity: 0; height: 0px; width: 0px; overflow: hidden; font-size: 0px; padding: 0px; margin-left: 0px; border: none;
    transition: 0.25s; -moz-transition: 0.25s; -webkit-transition: 0.25s;
}

/* Hide Google Badge */
.grecaptcha-badge {
    visibility: hidden;
}

/* Success Section */

.form-success { 
    width: 100%; display: none; flex-direction: row; 
    justify-content: center; align-items: center; text-align: center;
}

.form-success p { color: var(--color-brand); font-weight: 500; }

/* Smaller Desktop */

@media only screen and (max-width: 1280px) { }

/* Tablet Breakpoints */

@media only screen and (max-width: 1024px) { }

@media only screen and (max-width: 768px) { }
	
/* Mobile Breakpoints */

@media only screen and (max-width: 640px) { }
	
@media only screen and (max-width: 480px) { }
	

@media only screen and (max-width: 375px) { }
