@charset "UTF-8";
/* Navigation Stylesheet for Empac.co */
/* By Britton Lorentzen [brittonlorentzen@gmail.com, blorentz.com] */

.nav-bar { 
	width: calc(100% - calc(var(--spacing-grid) * 2)); display: flex; 
	justify-content: center;
	position: relative; top: -100px;
	padding: var(--spacing-grid);
	background-color: rgba(255, 255, 255, .75); 
	-webkit-backdrop-filter: blur(10px); backdrop-filter: blur(10px); z-index: 999;
	-moz-transition: 1s ease-in-out; -webkit-transition: 1s ease-in-out; transition: 1s ease-in-out;
}

.nav-bar .row { flex-direction: row; }

.nav-bar.active { top: 0px; -moz-transition: 1s ease-in-out; -webkit-transition: 1s ease-in-out; transition: 1s ease-in-out; }

.nav-bar .container { justify-content: space-between; align-items: center; }

.nav-bar img { height: 60px; width: auto; }

.nav-bar .toggle { 
    display: flex; flex-direction: column; justify-content: center; cursor: pointer;
    width: 50px; height: 50px; position: relative; z-index: 100;
    transition: 0.5s; -webkit-transition: 0.5s; -moz-transition: 0.5s;
}

.nav-bar .toggle:focus { 
    outline: 3px solid var(--color-brand);
    transition: 0.25s; -webkit-transition: 0.25s; -moz-transition: 0.25s;
}

.nav-bar .toggle:hover { 
    opacity: 0.5;
    transition: 0.5s; -webkit-transition: 0.5s; -moz-transition: 0.5s;
}

.nav-bar .toggle span { 
    width: 65%; height: 5px; margin: 3px auto; background-color: var(--color-black);
    -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
    transition: 0.25s; -webkit-transition: 0.25s; -moz-transition: 0.25s;
}
.nav-bar .toggle.active span:first-child { 
    transform: rotate(135deg) translate(3px, -4px); 
    transition: 0.25s; -webkit-transition: 0.25s; -moz-transition: 0.25s;
}
.nav-bar .toggle.active span:last-child { 
    transform: rotate(-135deg) translate(3px, 4px); 
    transition: 0.25s; -webkit-transition: 0.25s; -moz-transition: 0.25s;
}

nav { 
	display: flex; width: 100%; height: 0vh; 
	position: fixed; top: 0px; left: 0px; overflow: hidden; 
	background-color: var(--color-white); z-index: 10;
	-moz-transition: height .75s; -webkit-transition: height .75s; transition: height .75s;
	-ms-overflow-style: none; scrollbar-width: none;
}

nav::-webkit-scrollbar { display: none; }

nav.active { height: 100vh; overflow-y: scroll; -moz-transition: height .75s; -webkit-transition: height .75s; transition: height .75s; }

nav .container { 
	margin-inline: auto; margin-top: 100px; 
	position: relative;
	opacity: 0; transform: translateY(-30px);
	-moz-transition: .75s; -webkit-transition: .75s; transition: .75s; 
}

nav.active .container { 
	opacity: 1; transform: translateY(0px); 
	-moz-transition: .75s; -webkit-transition: .75s; transition: .75s; 
}

nav [multi-tri] div { margin-inline: 1rem; }

/* Standard Desktop */

@media only screen and (max-width: 1440px) { }

/* Smaller Desktop */

@media only screen and (max-width: 1280px) { }

/* Tablet Breakpoints */

@media only screen and (max-width: 1024px) { }

@media only screen and (max-width: 768px) { }
	
/* Mobile Breakpoints */

@media only screen and (max-width: 640px) {
    
	nav .row[multi-dual] div, 
	nav .row[multi-tri] div, nav 
	.row[multi-quad] div { width: calc(100% - calc(var(--spacing-grid) * calc(var(--padding-mult) * 2))) !important; }
	
	nav .container { margin-top: 70px; }
	.nav-bar img { height: 40px; }
	.nav-bar .toggle { height: 35px; }
}
	
	
@media only screen and (max-width: 480px) { }
	

@media only screen and (max-width: 375px) { }
